
.root-pie-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  > .recharts-responsive-container {
    min-height: 162px;
  }

  > .root-pie-chart__title {
    margin-top: 25px;
  }
}
