@use 'root';

/*
  Colors
*/
.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-gray {
  color: $gray;
}
.c-gray3 {
  color: $gray3;
}
.c-blue {
  color: $blue;
}
.c-green {
  color: $green;
}
//end colors

/*
  Background colors
*/
.bg-gray3 {
  @include bg($gray3);
}
.bg-gray2 {
  @include bg($gray2);
}
.bg-blue {
  @include bg($blue);
}
.bg-green {
  @include bg($green);
}
.bg-red {
  @include bg($red);
}
/* end */

/*
  Fill colors
*/
.fill-blue {
  fill: $blue;
}
.fill-pink {
  fill: $pink;
}
.fill-green {
  fill: $green;
}
.fill-red {
  fill: $red;
}
.fill-white {
  fill: $white;
}
// end colors

/*
  Margins and paddings
*/
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.p-32 {
  padding: 32px;
}
.ph-40 {
    padding: 0 40px;
}
// end

/*
  Width and height
*/
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.wh-100 {
  width: 100%;
  height: 100%;
}
// end

/*
  Typography
*/
.text-semibold-1 {
  font-weight: 600;
  font-size: 18px;
}

.text-semibold-2 {
  font-weight: 600;
  font-size: 14px;
}

.text-regular-1 {
  font-weight: 400;
  font-size: 18px;
}

.text-regular-2 {
  font-weight: 400;
  font-size: 14px;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4 {
  font-weight: 700;
}

.h1, h1 {
  font-size: 48px;
}

.h2, h2 {
  font-size: 36px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 18px;
}
// Typography end
