@import '_root';

html, body {
  width: 100%;
  height: 100%;
  background-color: $white;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: $black;
}

.f-c {
  display: flex;
  align-items: center;
}

.jc-c {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ta-c {
  align-items: center;
}

// grid
.cols {
  display: flex;

  > .col {
    flex: 0 0 50%;
  }
}

.cols-4 {
  > .col {
    flex-basis: 25%;
  }
}
.cols.gap-20 {
  margin-left: -20px;
  .col > .in-col {
    margin-left: 20px;
  }
}
// end grid

